@import url('https://fonts.googleapis.com/css?family=Courgette|Open+Sans&display=swap');


* {
  padding: 0;
  margin: 0;

}

body {
  background:  rgba(174, 168, 211, 1);
  font-family: 'Open Sans', sans-serif;
}
  
.container {
  max-width: 450px;

}

.card {
  border: none;
  
}

.card-header {
  background: rgba(140, 20, 252, 1);
  color: #fff;
}

.card-header h1 {
  font-family: 'Courgette', cursive;
}

.card-header p {
  font-family: 'Open Sans', sans-serif;
}

.card-body {
  background: rgba(241, 231, 254, 1);
}

.card-footer {
  background: rgba(241, 231, 254, 1);
}

#icon {
  width: 200px;
  fill:  orange;
}

#message-1 {
  color: rgba(140, 20, 252, 1)
}

.btn {
  background: rgba(140, 20, 252, 1);
  color: #fff;
  font-family: 'Courgette', cursive;
}

.btn:hover {
  background: rgba(159, 90, 253, 1);
  color: #fff;
}